#### IMPORTING Required Libraries

In [1]:
import pandas as pd
import numpy as np
import docx2txt
import re
import spacy
import spacy_universal_sentence_encoder

#### Reading the datasets

In [2]:
df = pd.read_csv(r"C:\Users\barsuraj1\Desktop\Resume Ranking prediction\Sample_Resume\Datatest.csv")
df.head(5)

,Filename,Name,Phone,Email,Degree,Graduation,Mentioned Experience,Total Derived Experience,Job Change,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,UNIV,LANGUAGE,CERTIFICATION
0,(PDF)Digendra Sharma CV for RPA.pdf,SCHOLASTIC RECORD Year,+91 9958945636,digendraduttsharma@gmail.com,B.Tech,UG,30 month,3.5 Year(s),1,3.5,"['developer', 'automation developer', 'robotic...","['re framework', 'invoices', 'automation', 'ag...","['c', 'automation anywhere', 'java', 'server',...","['development', 'c', 'automation anywhere', 'j...","['design', 'english', 'ledger', 'checks', 'dat...","['jiit, noida']",['english'],"['core java training', 'uipath advance certifi..."
1,0_Sethu-converted (1).pdf,Sethu Raj N,7907200446,sethuraj.snr1996@gmail.com,Bachelor of Hotel,UG,4 month,0 Year(s),1,4 month,"['internship', 'assistant manager', 'manager',...","['management skills', 'interpersonal skills', ...",[],"['management skills', 'interpersonal skills', ...","['english', 'hindi', 'project', 'status', 'mai...","['bangalore university', 'kle society’s nijali...","['malayalam', 'hindi', 'english']",[]
2,1577101964859-1575456968998-Athira Unnikrishna...,NaN,+91 7356558188,athiraunnikrishnan2018@gmail.com,M.B.A,PG,1 year,6.8 Year(s),4,1.7,"['crm', 'finance associate', 'administration a...","['crm', 'payments', 'calling', 'customer handl...","['crm', 'ms excel', 'office', 'excel', 'ms off...","['ms excel', 'administration', 'management', '...","['fixing', 'draft', 'status', 'applied economi...",[],[],"['certification in financial services', 'ielts..."
3,1611074978728Resume_Shikha(1).pdf,Master Level Certification,-9113682230,shikha.rpa004@gmail.com,B. TECH,UG,4 year,11.4 Year(s),4,2.9,"['sme', 'president', 'developer', 'business an...","['sap automation', 'automation', 'purchase ord...","['report', 'tfs /git', 'microsoft sql server',...","['development', 'report', 'tfs /git', 'microso...","['validation', 'kibana', 'base', 'testing', 'd...",['i.t.e.r'],[],['master level certification in automation any...
4,1618287229130_Education.docx,NaN,9701190316,guggillasaicharan1619@gmail.com,B.Tech,UG,NONE,0 Year(s),0,0,['internship'],"['ap', 'programming', 'communication skills', ...","['office', 'ms office', 'robot', 'matlab']","['ap', 'programming', 'office', 'communication...","['english', 'higher education', 'writing', 'ro...","['ural federal university', 'bharath universit...","['telugu', 'english']",[]

#### Reading the Job Description files.

In [3]:
JD = docx2txt.process(r"C:\Users\barsuraj1\Desktop\Resume Ranking prediction\Sample_Resume\JD_BA.docx")
JD

'Degree : B.Tech / M.Tech/ Bachelors of Technology/Masters of Technology / B.Tech (CSE) / M.Tech / Others\n\n\t\n\n\tGraduation: UG, PG, Others, None\n\n\t\n\n\tMinimum Experience: 4 years\n\n\t\n\n\tMinimum Average Tenure: 1 years\n\n\t\n\n\tRoles : Business Analyst/ Senior Business Analyst /Analyst/ Senior Analyst/ \n\n\t\n\nDomain Skills : client requirement gathering, analysis and deriving actionable insights, attentive and analytical person, Detailed analytical abilities, US healthcare domain knowledge, experience in handling BI tools and SQL analysis\n\nTechnical Skills : Proficient in MS Office, Microsoft Power BI,  Tableau, Zoho Analytics, SQL, T-SQL, SAS BUSINESS INTELLIGENCE, ELT Tools, Advance Excel\t\n\nSkills: work as a team-player, strong verbal and written communication skills, experience in understanding of client business model, expertise in understanding client requirement and documenting, expertise in understanding client requirement and documenting, expertise in understanding client requirement and documenting, timely scheduled management reporting, Data Warehousing experience is preferred \n\nJob Location:  Chennai/Hyderabad\n\n\t\n\n\tUNIV: Any\n\n\t\n\n\tLANGUAGE: English\n\n\t\n\n\tCERTIFICATION: Certificate in Business Analysis/ Certified Analytics Professional/ Certification of Competency in Business Analysis/ Certified Business Analysis Professional'

In [4]:
df.shape

(462, 18)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Filename                  462 non-null    object
 1   Name                      295 non-null    object
 2   Phone                     462 non-null    object
 3   Email                     462 non-null    object
 4   Degree                    462 non-null    object
 5   Graduation                462 non-null    object
 6   Mentioned Experience      462 non-null    object
 7   Total Derived Experience  462 non-null    object
 8   Job Change                462 non-null    int64
 9   Average Tenure            462 non-null    object
 10  Roles                     462 non-null    object
 11  DomainSkills              462 non-null    object
 12  ToolSkills                462 non-null    object
 13  TechSkills                462 non-null    object
 14  Skills                    462 non-null    object
 15  UNIV                      462 non-null    object
 16  LANGUAGE                  462 non-null    object
 17  CERTIFICATION             462 non-null    object
dtypes: int64(1), object(17)
memory usage: 65.1+ KB

In [6]:
df['Total Derived Experience'].describe()

count           462
unique           95
top       0 Year(s)
freq            264
Name: Total Derived Experience, dtype: object

#### DROPPING COLUMNS
Columns: Name, Phone, Email,Mentioned Exp, Job Change, UNiV will be dropped. Ranking similarity will not be based upon these entities

In [7]:
df.drop(['Name','Phone','Email','Mentioned Experience','Job Change','UNIV'], axis = 1, inplace =True)

### Data Cleaning, removing Punctuations from columns all columns

In [8]:
df=df.replace('\[]', '',regex=True)
df=df.replace('\[','',regex=True)
df=df.replace('\]','', regex=True)
df = df.replace('\'','',regex= True)
df=df.replace('"', '',regex=True)

Data looks somewhat clean, exploring Total Derived Exp, Avg tenuare columns

In [9]:
df['Total Derived Experience'].unique()

array(['3.5 Year(s)', '0 Year(s)', '6.8 Year(s)', '11.4 Year(s)',
       '0.7 Year(s)', '5.2 Year(s)', '3.2 Year(s)', '5.0 Year(s)',
       '8.6 Year(s)', '7.8 Year(s)', '7.2 Year(s)', '0.2 Year(s)',
       '2.2 Year(s)', '0.9 Year(s)', '0.8 Year(s)', '13.1 Year(s)',
       '1.8 Year(s)', '0.5 Year(s)', '1.2 Year(s)', '6.7 Year(s)',
       '11.2 Year(s)', '1.1 Year(s)', '9.1 Year(s)', '1.7 Year(s)',
       '3.8 Year(s)', '4.4 Year(s)', '1.3 Year(s)', '5.7 Year(s)',
       '9.9 Year(s)', '4.7 Year(s)', '6.9 Year(s)', '3.3 Year(s)',
       '4.6 Year(s)', '12.0 Year(s)', '13.3 Year(s)', '1.5 Year(s)',
       '3.1 Year(s)', '5.3 Year(s)', '5.5 Year(s)', '2.9 Year(s)',
       '14.9 Year(s)', '5.6 Year(s)', '9.7 Year(s)', '1.6 Year(s)',
       '11.5 Year(s)', '2.3 Year(s)', '5.8 Year(s)', '14.1 Year(s)',
       '3.0 Year(s)', '17.6 Year(s)', '7.6 Year(s)', '0.1 Year(s)',
       '4.0 Year(s)', '13.2 Year(s)', '8.8 Year(s)', '7.9 Year(s)',
       '11.0 Year(s)', '5.9 Year(s)', '0.6 Year(s)', '13.9 Year(s)',
       '1.4 Year(s)', '9.2 Year(s)', '7.4 Year(s)', '2.1 Year(s)',
       '2.8 Year(s)', '8.2 Year(s)', '4.1 Year(s)', '2.5 Year(s)',
       '15.9 Year(s)', '0.4 Year(s)', '2.0 Year(s)', '4.5 Year(s)',
       '4.3 Year(s)', '3.6 Year(s)', '6.2 Year(s)', '13.6 Year(s)',
       '11.8 Year(s)', '3.4 Year(s)', '6.4 Year(s)', '3.7 Year(s)',
       '7.7 Year(s)', '15.4 Year(s)', '21.2 Year(s)', '3.9 Year(s)',
       '1.0 Year(s)', '6.3 Year(s)', '6.5 Year(s)', '4.2 Year(s)',
       '15.8 Year(s)', '1.9 Year(s)', '10.0 Year(s)', '12.4 Year(s)',
       '10.8 Year(s)', '14.2 Year(s)', '4.8 Year(s)'], dtype=object)

In [10]:
df['Total Derived Experience']=df['Total Derived Experience'].replace('(s)', '',regex=True)
df['Total Derived Experience']=df['Total Derived Experience'].replace("\(", '',regex=True)
df['Total Derived Experience']=df['Total Derived Experience'].replace("\)", '',regex=True)

In [11]:
df['Total Derived Experience']

0       3.5 Year
1         0 Year
2       6.8 Year
3      11.4 Year
4         0 Year
         ...
457     3.3 Year
458       0 Year
459     0.2 Year
460       0 Year
461     4.4 Year
Name: Total Derived Experience, Length: 462, dtype: object

In [12]:
df['Average Tenure'].unique()

array(['3.5', '4 month', '1.7', '2.9', '0', '6 month', '5.2', '3.2',
       '1.2', '3.9', '1.8', '3 month', '5 year', '1.1', '0.9', '0.8',
       '4.4', '0.6', '0.5', '2 year', '2.2', '4.5', '1.9', '3 year',
       '1.3', '4 year', '5.7', '1.6 year', '2.4', '3.3', '8(1 month',
       '1.5', '3', '1 year', '3.1', '5.5', '5', '2.6', '4.6', '5.6',
       '21 year', '1', '6 year', '1.6', '9 month', '3.3 year', '3.8',
       '25 year', '0.1', '4', '6.6', '1 month', '2', '3.7', '1.4', '0.7',
       '0.4', '16 month', '0.3', '2.5', '3.4', '2.1', '4.1', '10 month',
       '2.3', '5.3', '7 year', '21yrs', '11 month', '2.8', '9.9 year',
       '3.5 year', '4.2', '8 month', '7 month', '5 month', '7.4 year',
       '3.1 year', '5yrs', '0.2'], dtype=object)

#### Average tenure has data in years and months. converting months to year

In [13]:
# Create filter for month/months
month_filt = df['Average Tenure'].str.contains('month')

In [14]:
# Filter DataFrame for rows that contain month/months 
df['Months'] = df.loc[month_filt, 'Average Tenure'].str.strip('month|months')

In [15]:
df['Months'].describe()

count     29
unique    12
top       6
freq      11
Name: Months, dtype: object

In [16]:
df['Months'].head(30)

0     NaN
1      4
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10     6
11     6
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19     3
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28     6
29    NaN
Name: Months, dtype: object

In [17]:
df['Average Tenure'].head(30)

0         3.5
1     4 month
2         1.7
3         2.9
4           0
5           0
6           0
7           0
8           0
9           0
10    6 month
11    6 month
12        5.2
13          0
14        3.2
15        1.2
16        2.9
17        3.9
18        1.8
19    3 month
20     5 year
21          0
22        1.1
23        0.9
24        0.8
25        4.4
26          0
27        0.6
28    6 month
29          0
Name: Average Tenure, dtype: object

In [18]:
df['Months'] = df['Months'].replace('\(', '.', regex=True)

In [19]:
df['Months'] = df['Months'].astype('float') / 12

In [20]:
df['Months'].head(30)

0          NaN
1     0.333333
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10    0.500000
11    0.500000
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19    0.250000
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28    0.500000
29         NaN
Name: Months, dtype: float64

In [21]:
df['Months'] = df['Months'].round(2)
df['Months'].head(30)

0      NaN
1     0.33
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10    0.50
11    0.50
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19    0.25
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28    0.50
29     NaN
Name: Months, dtype: float64

##### CONVERTING TO OBJECT TO NUMERIC TO PERFORM MATH OPERATIONS

In [22]:
df['Average Tenure'] = pd.to_numeric(df['Average Tenure'], errors='coerce')
df['Average Tenure']

0      3.5
1      NaN
2      1.7
3      2.9
4      0.0
      ...
457    1.6
458    NaN
459    0.2
460    0.0
461    2.2
Name: Average Tenure, Length: 462, dtype: float64

In [23]:
df.head(30)

,Filename,Degree,Graduation,Total Derived Experience,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,LANGUAGE,CERTIFICATION,Months
0,(PDF)Digendra Sharma CV for RPA.pdf,B.Tech,UG,3.5 Year,3.5,"developer, automation developer, robotics proc...","re framework, invoices, automation, agile, pro...","c, automation anywhere, java, server, sql, exc...","development, c, automation anywhere, java, ser...","design, english, ledger, checks, data extracti...",english,"core java training, uipath advance certificati...",NaN
1,0_Sethu-converted (1).pdf,Bachelor of Hotel,UG,0 Year,NaN,"internship, assistant manager, manager, superv...","management skills, interpersonal skills, team ...",,"management skills, interpersonal skills, team ...","english, hindi, project, status, mail, partici...","malayalam, hindi, english",,0.33
2,1577101964859-1575456968998-Athira Unnikrishna...,M.B.A,PG,6.8 Year,1.7,"crm, finance associate, administration assista...","crm, payments, calling, customer handling, adm...","crm, ms excel, office, excel, ms office, tally...","ms excel, administration, management, customer...","fixing, draft, status, applied economics, cust...",,"certification in financial services, ielts aca...",NaN
3,1611074978728Resume_Shikha(1).pdf,B. TECH,UG,11.4 Year,2.9,"sme, president, developer, business analyst, a...","sap automation, automation, purchase orders, t...","report, tfs /git, microsoft sql server, c, dot...","development, report, tfs /git, microsoft sql s...","validation, kibana, base, testing, dps, framew...",,master level certification in automation anywh...,NaN
4,1618287229130_Education.docx,B.Tech,UG,0 Year,0.0,internship,"ap, programming, communication skills, good co...","office, ms office, robot, matlab","ap, programming, office, communication skills,...","english, higher education, writing, robot, pap...","telugu, english",,NaN
5,1618847547236Resume_Naveen.pdf,B Tech,UG,0 Year,0.0,,time management,"c, autocad","management, c, analysis, autocad, r, time mana...","design, english, hindi, project, c, d, time ma...","telugu, hindi, english",,NaN
6,1625565728237.pdf,Bachelor of Technology,UG,0 Year,0.0,,"technical support, programming","c++, microsoft office, office, database, excel...","c++, programming, microsoft office, office, le...","c++, english, learning, gop, hindi, microsoft ...","telugu, hindi, english, tamil",,NaN
7,A.Divyadharshini.pdf,BSC,UG,0 Year,0.0,executive,"communication skills, good communication","office, ms-office","office, communication skills, technical skills...","cs, english, camp, status, rp, resume, d, hobb...","english, tamil",,NaN
8,A.P.Suguna CV.pdf,BMS,UG,0 Year,0.0,,,"office, ms-office, ms-excel, excel","office, ms-excel, excel","english, hobbies, office, singing, hindi, surf...","hindi, english, tamil",,NaN
9,Aalia vincent 2(1).pdf,Other Degree,Others,0 Year,0.0,,,amadeus,amadeus,"amadeus, english, iata, religion",english,,NaN
10,Aamir Resume Updated 2022.docx,B.COM,UG,0 Year,NaN,"sr. associate, executive travel sales, associa...","back office, good communication, sales, commun...","office, amadeus, excel","amadeus, office, back office, communication sk...","english, hindi, status, mercury, d, travel sal...","marathi, hindi, english, urdu",,0.50
11,Aarish Shaikh suth.docx,Bachelor of Management,UG,0.7 Year,NaN,"associate, senior associate operations, senior...","communication skills, operations, quick learner","amadeus, office, sabre, ms office, fairlogix","amadeus, office, communication skills, operati...","amadeus, english, hobbies, office, hindi, emai...","hindi, english",,0.50
12,Aaron Thankachan CV.docx,Other Degree,Others,5.2 Year,5.2,"senior analyst, analyst, customer care agent, ...","mortgage, invoices, insurance, customer care, ...","office, ms office, windows, linux","mortgage, os, invoices, office, insurance, rep...","laptops, english, hindi, customer service, mai...","english, hindi, kannada, tamil, malayalam",,NaN
13,Aarthy V.PDF,Bachelor of science,UG,0 Year,0.0,,,,"fulfillment, physics","secondary education, e-mail, english, utilizat...","telugu, english, tamil",,NaN
14,Aarti Bhagat.pdf,B.Com,UG,3.2 Year,3.2,crm,crm,"excel, crm, ms-excel","excel, crm, ms-excel","designation, crm, english, hobbies, mumbai, hi...","hindi, english",,NaN
15,Aashna Shaikh.pdf,Other Degree,Others,5.0 Year,1.2,"team leader, team manager, associate/senior as...","export and import billing, free of charge, inv...","report, microsoft office, office, citrix, wind...","report, investigation, management, time manage...","english, sorting, investigation, hindi, import...","marathi, hindi, english",,NaN
16,ABHI CV FORMAT September-converted.pdf,BE,UG,8.6 Year,2.9,,,,,"english, hindi, email, resume, d, languages, m...","marathi, hindi, english",,NaN
17,Abhi Resume.docx,BE,UG,7.8 Year,3.9,"hr associate, customer services, senior associ...","following correct delayed payment, checking bi...",,"account payable, helpdesk, management, custome...","english, copying, hindi, mail, resume, d, time...","marathi, hindi, english",,NaN
18,AbhinandaSengupta--XBRL.docx,MBA,PG,7.2 Year,1.8,"analyst, finance officer, research associate, ...","us gaap, financial statements, equity research...","report, reporting, ifrs, erp","report, us gaap, financial statements, equity ...","financial statements, english, charity, financ...","hindi, english","fdes, caseware, risk based kyc, aml & complian...",NaN
19,ABINAYA TS.pdf,B.E,UG,0.2 Year,NaN,,"machine learning, testing, team leading","rpa(ui path), c, c , c++, c++","c++, learning, testing, machine learning, c, a...","c++, english, app, learning, project, c, mail,...","english, tamil",certificate course in rpa(ui path),0.25
20,AbineshM0_0.docx,BCA,UG,0 Year,NaN,representative,"self-motivated, problem solving","office, english typewriting, ms-office","office, learning, self-motivated, problem solving","scheme, government, english, clear, office, mo...","english, tamil",,NaN
21,Abishek0_0.pdf,Other Degree,Others,0 Year,0.0,,typing,,typing,"english, clear, email, typing, tamil, languages","english, tamil",,NaN
22,Abu Joseph John CV.docx,MBA,PG,2.2 Year,1.1,"crm, customer support executive, team leader, ...","sales, cold calling, product, crm, closing dea...","crm, office, ms-office, windows, sap, tally, jose","development, sales, management, cold calling, ...","increase productivity, english, project, statu...","malayalam, english","certification in sap, certification of basic a...",NaN
23,ADITI PATIL suth symantec.docx,B.Com,UG,0.9 Year,0.9,teleperformance,"solving query and taking follow up, incoming c...","computer knowledge, basic computer knowledge, ...","incoming calls, computer knowledge, quality, c...","english, hindi, continuous improvement, status...","marathi, hindi, english",,NaN
24,aditya resume.docx,Other Degree,Others,0.8 Year,0.8,,,construction,construction,"technology, email, construction technology, co...",,,NaN
25,Aditya Singh.pdf,Bachelor of commerce,UG,13.1 Year,4.4,"supervisor, customer service, customer associa...","communication skills, financial analysis, exce...","excel, computer knowledge, sap, powerpoint","computer knowledge, communication skills, self...","swimming, distributors, customer service, mail...",,,NaN
26,adnaan khan Final.docx,Other Degree,Others,0 Year,0.0,,,"office, ms-office, ms-excel, windows, excel","development, office, ms-excel, windows, excel,...","organization, e-mail, office, general, mobile,...",,,NaN
27,Afri.pdf,None,None,1.8 Year,0.6,"teleperformance, csr","teleperformance, marketing","office, computer knowledge, ms office, basic c...","development, computer knowledge, basic compute...","english, hindi, status, mail, d, plot, mumbai,...","marathi, hindi, english",,NaN
28,AjiPaul_12065758_-00_06-_1.pdf,None,None,0.5 Year,NaN,"customer service, executive, customer care exe...","bpo, interpersonal skills, leadership skills, ...",,"bpo, interpersonal skills, leadership skills, ...","designation, bpo, interpersonal skills, it, le...",,,0.50
29,Akalya.docx,B.Tech,UG,0 Year,0.0,associate,"self-motivated, quick learner","ms excel, android, windows, excel, c, html","development, html, ms excel, learning, technic...","extracurricular activities, english, learning,...","english, tamil",,NaN

Replacing the NaN values with 0, in months columns

In [24]:
df['Average Tenure'] = df['Average Tenure'].fillna(0)
df['Months'] = df['Months'].fillna(0)
## Combining both columns to replace NaN values with converted Months value
df['Average Tenure'] = df['Average Tenure'] + df['Months']
df.head()

,Filename,Degree,Graduation,Total Derived Experience,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,LANGUAGE,CERTIFICATION,Months
0,(PDF)Digendra Sharma CV for RPA.pdf,B.Tech,UG,3.5 Year,3.50,"developer, automation developer, robotics proc...","re framework, invoices, automation, agile, pro...","c, automation anywhere, java, server, sql, exc...","development, c, automation anywhere, java, ser...","design, english, ledger, checks, data extracti...",english,"core java training, uipath advance certificati...",0.00
1,0_Sethu-converted (1).pdf,Bachelor of Hotel,UG,0 Year,0.33,"internship, assistant manager, manager, superv...","management skills, interpersonal skills, team ...",,"management skills, interpersonal skills, team ...","english, hindi, project, status, mail, partici...","malayalam, hindi, english",,0.33
2,1577101964859-1575456968998-Athira Unnikrishna...,M.B.A,PG,6.8 Year,1.70,"crm, finance associate, administration assista...","crm, payments, calling, customer handling, adm...","crm, ms excel, office, excel, ms office, tally...","ms excel, administration, management, customer...","fixing, draft, status, applied economics, cust...",,"certification in financial services, ielts aca...",0.00
3,1611074978728Resume_Shikha(1).pdf,B. TECH,UG,11.4 Year,2.90,"sme, president, developer, business analyst, a...","sap automation, automation, purchase orders, t...","report, tfs /git, microsoft sql server, c, dot...","development, report, tfs /git, microsoft sql s...","validation, kibana, base, testing, dps, framew...",,master level certification in automation anywh...,0.00
4,1618287229130_Education.docx,B.Tech,UG,0 Year,0.00,internship,"ap, programming, communication skills, good co...","office, ms office, robot, matlab","ap, programming, office, communication skills,...","english, higher education, writing, robot, pap...","telugu, english",,0.00

In [25]:
df['Total Derived Experience']

0       3.5 Year
1         0 Year
2       6.8 Year
3      11.4 Year
4         0 Year
         ...
457     3.3 Year
458       0 Year
459     0.2 Year
460       0 Year
461     4.4 Year
Name: Total Derived Experience, Length: 462, dtype: object

#### Removing 'Year' from the Column, and converting the data type in both columns to float to perform math operation

##### Converting Object to Float data type for math operation

In [26]:
df['Total Derived Experience'] = df['Total Derived Experience'].map(lambda x: x.rstrip('Year'))
df['Total Derived Experience'] = df['Total Derived Experience'].astype(float)
df['Average Tenure'] = df['Average Tenure'].astype(float)
#### Droping the Month Column
df.drop(['Months'], axis = 1, inplace = True) 
df.head(30)

,Filename,Degree,Graduation,Total Derived Experience,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,LANGUAGE,CERTIFICATION
0,(PDF)Digendra Sharma CV for RPA.pdf,B.Tech,UG,3.5,3.50,"developer, automation developer, robotics proc...","re framework, invoices, automation, agile, pro...","c, automation anywhere, java, server, sql, exc...","development, c, automation anywhere, java, ser...","design, english, ledger, checks, data extracti...",english,"core java training, uipath advance certificati..."
1,0_Sethu-converted (1).pdf,Bachelor of Hotel,UG,0.0,0.33,"internship, assistant manager, manager, superv...","management skills, interpersonal skills, team ...",,"management skills, interpersonal skills, team ...","english, hindi, project, status, mail, partici...","malayalam, hindi, english",
2,1577101964859-1575456968998-Athira Unnikrishna...,M.B.A,PG,6.8,1.70,"crm, finance associate, administration assista...","crm, payments, calling, customer handling, adm...","crm, ms excel, office, excel, ms office, tally...","ms excel, administration, management, customer...","fixing, draft, status, applied economics, cust...",,"certification in financial services, ielts aca..."
3,1611074978728Resume_Shikha(1).pdf,B. TECH,UG,11.4,2.90,"sme, president, developer, business analyst, a...","sap automation, automation, purchase orders, t...","report, tfs /git, microsoft sql server, c, dot...","development, report, tfs /git, microsoft sql s...","validation, kibana, base, testing, dps, framew...",,master level certification in automation anywh...
4,1618287229130_Education.docx,B.Tech,UG,0.0,0.00,internship,"ap, programming, communication skills, good co...","office, ms office, robot, matlab","ap, programming, office, communication skills,...","english, higher education, writing, robot, pap...","telugu, english",
5,1618847547236Resume_Naveen.pdf,B Tech,UG,0.0,0.00,,time management,"c, autocad","management, c, analysis, autocad, r, time mana...","design, english, hindi, project, c, d, time ma...","telugu, hindi, english",
6,1625565728237.pdf,Bachelor of Technology,UG,0.0,0.00,,"technical support, programming","c++, microsoft office, office, database, excel...","c++, programming, microsoft office, office, le...","c++, english, learning, gop, hindi, microsoft ...","telugu, hindi, english, tamil",
7,A.Divyadharshini.pdf,BSC,UG,0.0,0.00,executive,"communication skills, good communication","office, ms-office","office, communication skills, technical skills...","cs, english, camp, status, rp, resume, d, hobb...","english, tamil",
8,A.P.Suguna CV.pdf,BMS,UG,0.0,0.00,,,"office, ms-office, ms-excel, excel","office, ms-excel, excel","english, hobbies, office, singing, hindi, surf...","hindi, english, tamil",
9,Aalia vincent 2(1).pdf,Other Degree,Others,0.0,0.00,,,amadeus,amadeus,"amadeus, english, iata, religion",english,
10,Aamir Resume Updated 2022.docx,B.COM,UG,0.0,0.50,"sr. associate, executive travel sales, associa...","back office, good communication, sales, commun...","office, amadeus, excel","amadeus, office, back office, communication sk...","english, hindi, status, mercury, d, travel sal...","marathi, hindi, english, urdu",
11,Aarish Shaikh suth.docx,Bachelor of Management,UG,0.7,0.50,"associate, senior associate operations, senior...","communication skills, operations, quick learner","amadeus, office, sabre, ms office, fairlogix","amadeus, office, communication skills, operati...","amadeus, english, hobbies, office, hindi, emai...","hindi, english",
12,Aaron Thankachan CV.docx,Other Degree,Others,5.2,5.20,"senior analyst, analyst, customer care agent, ...","mortgage, invoices, insurance, customer care, ...","office, ms office, windows, linux","mortgage, os, invoices, office, insurance, rep...","laptops, english, hindi, customer service, mai...","english, hindi, kannada, tamil, malayalam",
13,Aarthy V.PDF,Bachelor of science,UG,0.0,0.00,,,,"fulfillment, physics","secondary education, e-mail, english, utilizat...","telugu, english, tamil",
14,Aarti Bhagat.pdf,B.Com,UG,3.2,3.20,crm,crm,"excel, crm, ms-excel","excel, crm, ms-excel","designation, crm, english, hobbies, mumbai, hi...","hindi, english",
15,Aashna Shaikh.pdf,Other Degree,Others,5.0,1.20,"team leader, team manager, associate/senior as...","export and import billing, free of charge, inv...","report, microsoft office, office, citrix, wind...","report, investigation, management, time manage...","english, sorting, investigation, hindi, import...","marathi, hindi, english",
16,ABHI CV FORMAT September-converted.pdf,BE,UG,8.6,2.90,,,,,"english, hindi, email, resume, d, languages, m...","marathi, hindi, english",
17,Abhi Resume.docx,BE,UG,7.8,3.90,"hr associate, customer services, senior associ...","following correct delayed payment, checking bi...",,"account payable, helpdesk, management, custome...","english, copying, hindi, mail, resume, d, time...","marathi, hindi, english",
18,AbhinandaSengupta--XBRL.docx,MBA,PG,7.2,1.80,"analyst, finance officer, research associate, ...","us gaap, financial statements, equity research...","report, reporting, ifrs, erp","report, us gaap, financial statements, equity ...","financial statements, english, charity, financ...","hindi, english","fdes, caseware, risk based kyc, aml & complian..."
19,ABINAYA TS.pdf,B.E,UG,0.2,0.25,,"machine learning, testing, team leading","rpa(ui path), c, c , c++, c++","c++, learning, testing, machine learning, c, a...","c++, english, app, learning, project, c, mail,...","english, tamil",certificate course in rpa(ui path)
20,AbineshM0_0.docx,BCA,UG,0.0,0.00,representative,"self-motivated, problem solving","office, english typewriting, ms-office","office, learning, self-motivated, problem solving","scheme, government, english, clear, office, mo...","english, tamil",
21,Abishek0_0.pdf,Other Degree,Others,0.0,0.00,,typing,,typing,"english, clear, email, typing, tamil, languages","english, tamil",
22,Abu Joseph John CV.docx,MBA,PG,2.2,1.10,"crm, customer support executive, team leader, ...","sales, cold calling, product, crm, closing dea...","crm, office, ms-office, windows, sap, tally, jose","development, sales, management, cold calling, ...","increase productivity, english, project, statu...","malayalam, english","certification in sap, certification of basic a..."
23,ADITI PATIL suth symantec.docx,B.Com,UG,0.9,0.90,teleperformance,"solving query and taking follow up, incoming c...","computer knowledge, basic computer knowledge, ...","incoming calls, computer knowledge, quality, c...","english, hindi, continuous improvement, status...","marathi, hindi, english",
24,aditya resume.docx,Other Degree,Others,0.8,0.80,,,construction,construction,"technology, email, construction technology, co...",,
25,Aditya Singh.pdf,Bachelor of commerce,UG,13.1,4.40,"supervisor, customer service, customer associa...","communication skills, financial analysis, exce...","excel, computer knowledge, sap, powerpoint","computer knowledge, communication skills, self...","swimming, distributors, customer service, mail...",,
26,adnaan khan Final.docx,Other Degree,Others,0.0,0.00,,,"office, ms-office, ms-excel, windows, excel","development, office, ms-excel, windows, excel,...","organization, e-mail, office, general, mobile,...",,
27,Afri.pdf,None,None,1.8,0.60,"teleperformance, csr","teleperformance, marketing","office, computer knowledge, ms office, basic c...","development, computer knowledge, basic compute...","english, hindi, status, mail, d, plot, mumbai,...","marathi, hindi, english",
28,AjiPaul_12065758_-00_06-_1.pdf,None,None,0.5,0.50,"customer service, executive, customer care exe...","bpo, interpersonal skills, leadership skills, ...",,"bpo, interpersonal skills, leadership skills, ...","designation, bpo, interpersonal skills, it, le...",,
29,Akalya.docx,B.Tech,UG,0.0,0.00,associate,"self-motivated, quick learner","ms excel, android, windows, excel, c, html","development, html, ms excel, learning, technic...","extracurricular activities, english, learning,...","english, tamil",

Extracting Numeric Value from total experience and Avg tenure from the JD

In [27]:
list_JD = re.split(pattern = r"\n\n\t\n\n\t", string = JD )
list_JD[2:4]

['Minimum Experience: 4 years', 'Minimum Average Tenure: 1 years']

#### Converting the list[number] to integer number

In [28]:
Total_exp = ' \n '.join(str(e) for e in list_JD[2])
Total_exp = re.findall(pattern ="[0-9]+", string = Total_exp)

Avg_tenu = ' \n '.join(str(e) for e in list_JD[3])
Avg_tenu = re.findall(pattern ="[0-9]+", string = Avg_tenu)

strings = [str(Total_exp) for Total_exp in Total_exp]
a_string = "". join(strings)
Total_exp = int(a_string)
print(Total_exp)
print(type(Total_exp))

strings = [str(Avg_tenu) for Avg_tenu in Avg_tenu]
a_string = "". join(strings)
Avg_tenu = int(a_string)
print(Avg_tenu)
print(type(Avg_tenu))
#print(type(str1_no))

4
<class 'int'>
1
<class 'int'>

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Filename                  462 non-null    object
 1   Degree                    462 non-null    object
 2   Graduation                462 non-null    object
 3   Total Derived Experience  462 non-null    float64
 4   Average Tenure            462 non-null    float64
 5   Roles                     462 non-null    object
 6   DomainSkills              462 non-null    object
 7   ToolSkills                462 non-null    object
 8   TechSkills                462 non-null    object
 9   Skills                    462 non-null    object
 10  LANGUAGE                  462 non-null    object
 11  CERTIFICATION             462 non-null    object
dtypes: float64(2), object(10)
memory usage: 43.4+ KB

In [30]:
df.set_index("Filename", inplace = True) ## Setting Filename as index
df.head()

,Degree,Graduation,Total Derived Experience,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,LANGUAGE,CERTIFICATION
Filename,,,,,,,,,,,
(PDF)Digendra Sharma CV for RPA.pdf,B.Tech,UG,3.5,3.50,"developer, automation developer, robotics proc...","re framework, invoices, automation, agile, pro...","c, automation anywhere, java, server, sql, exc...","development, c, automation anywhere, java, ser...","design, english, ledger, checks, data extracti...",english,"core java training, uipath advance certificati..."
0_Sethu-converted (1).pdf,Bachelor of Hotel,UG,0.0,0.33,"internship, assistant manager, manager, superv...","management skills, interpersonal skills, team ...",,"management skills, interpersonal skills, team ...","english, hindi, project, status, mail, partici...","malayalam, hindi, english",
1577101964859-1575456968998-Athira Unnikrishnan CV (2) (2)-2.pdf,M.B.A,PG,6.8,1.70,"crm, finance associate, administration assista...","crm, payments, calling, customer handling, adm...","crm, ms excel, office, excel, ms office, tally...","ms excel, administration, management, customer...","fixing, draft, status, applied economics, cust...",,"certification in financial services, ielts aca..."
1611074978728Resume_Shikha(1).pdf,B. TECH,UG,11.4,2.90,"sme, president, developer, business analyst, a...","sap automation, automation, purchase orders, t...","report, tfs /git, microsoft sql server, c, dot...","development, report, tfs /git, microsoft sql s...","validation, kibana, base, testing, dps, framew...",,master level certification in automation anywh...
1618287229130_Education.docx,B.Tech,UG,0.0,0.00,internship,"ap, programming, communication skills, good co...","office, ms office, robot, matlab","ap, programming, office, communication skills,...","english, higher education, writing, robot, pap...","telugu, english",

In [31]:
df.to_csv("cleaned_df.csv")

In [32]:
df = pd.read_csv("cleaned_df.csv")
df.head()

,Filename,Degree,Graduation,Total Derived Experience,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,LANGUAGE,CERTIFICATION
0,(PDF)Digendra Sharma CV for RPA.pdf,B.Tech,UG,3.5,3.50,"developer, automation developer, robotics proc...","re framework, invoices, automation, agile, pro...","c, automation anywhere, java, server, sql, exc...","development, c, automation anywhere, java, ser...","design, english, ledger, checks, data extracti...",english,"core java training, uipath advance certificati..."
1,0_Sethu-converted (1).pdf,Bachelor of Hotel,UG,0.0,0.33,"internship, assistant manager, manager, superv...","management skills, interpersonal skills, team ...",NaN,"management skills, interpersonal skills, team ...","english, hindi, project, status, mail, partici...","malayalam, hindi, english",NaN
2,1577101964859-1575456968998-Athira Unnikrishna...,M.B.A,PG,6.8,1.70,"crm, finance associate, administration assista...","crm, payments, calling, customer handling, adm...","crm, ms excel, office, excel, ms office, tally...","ms excel, administration, management, customer...","fixing, draft, status, applied economics, cust...",NaN,"certification in financial services, ielts aca..."
3,1611074978728Resume_Shikha(1).pdf,B. TECH,UG,11.4,2.90,"sme, president, developer, business analyst, a...","sap automation, automation, purchase orders, t...","report, tfs /git, microsoft sql server, c, dot...","development, report, tfs /git, microsoft sql s...","validation, kibana, base, testing, dps, framew...",NaN,master level certification in automation anywh...
4,1618287229130_Education.docx,B.Tech,UG,0.0,0.00,internship,"ap, programming, communication skills, good co...","office, ms office, robot, matlab","ap, programming, office, communication skills,...","english, higher education, writing, robot, pap...","telugu, english",NaN

In [33]:
df = df[df['Total Derived Experience'] >= Total_exp]
#df = df[df['Total Derived Experience'] >= 2]
df = df[df['Average Tenure'] >= Avg_tenu] ### Uncomment if Avg Tenure is not req.
#df = df[df['Average Tenure'] >= 1]
print(df.shape)
df.head()

(95, 12)

,Filename,Degree,Graduation,Total Derived Experience,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,LANGUAGE,CERTIFICATION
2,1577101964859-1575456968998-Athira Unnikrishna...,M.B.A,PG,6.8,1.7,"crm, finance associate, administration assista...","crm, payments, calling, customer handling, adm...","crm, ms excel, office, excel, ms office, tally...","ms excel, administration, management, customer...","fixing, draft, status, applied economics, cust...",NaN,"certification in financial services, ielts aca..."
3,1611074978728Resume_Shikha(1).pdf,B. TECH,UG,11.4,2.9,"sme, president, developer, business analyst, a...","sap automation, automation, purchase orders, t...","report, tfs /git, microsoft sql server, c, dot...","development, report, tfs /git, microsoft sql s...","validation, kibana, base, testing, dps, framew...",NaN,master level certification in automation anywh...
12,Aaron Thankachan CV.docx,Other Degree,Others,5.2,5.2,"senior analyst, analyst, customer care agent, ...","mortgage, invoices, insurance, customer care, ...","office, ms office, windows, linux","mortgage, os, invoices, office, insurance, rep...","laptops, english, hindi, customer service, mai...","english, hindi, kannada, tamil, malayalam",NaN
15,Aashna Shaikh.pdf,Other Degree,Others,5.0,1.2,"team leader, team manager, associate/senior as...","export and import billing, free of charge, inv...","report, microsoft office, office, citrix, wind...","report, investigation, management, time manage...","english, sorting, investigation, hindi, import...","marathi, hindi, english",NaN
16,ABHI CV FORMAT September-converted.pdf,BE,UG,8.6,2.9,NaN,NaN,NaN,NaN,"english, hindi, email, resume, d, languages, m...","marathi, hindi, english",NaN

##### Filtering the data based upon the min exp and tenure

In [34]:
df = df[df['Total Derived Experience'] >= Total_exp]
#df = df[df['Total Derived Experience'] >= 2]
df = df[df['Average Tenure'] >= Avg_tenu] ### Uncomment if Avg Tenure is not req.
#df = df[df['Average Tenure'] >= 1]
df.set_index("Filename", inplace = True) ## Setting Filename as index
print(df.shape)
df.head()

(95, 11)

,Degree,Graduation,Total Derived Experience,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,LANGUAGE,CERTIFICATION
Filename,,,,,,,,,,,
1577101964859-1575456968998-Athira Unnikrishnan CV (2) (2)-2.pdf,M.B.A,PG,6.8,1.7,"crm, finance associate, administration assista...","crm, payments, calling, customer handling, adm...","crm, ms excel, office, excel, ms office, tally...","ms excel, administration, management, customer...","fixing, draft, status, applied economics, cust...",NaN,"certification in financial services, ielts aca..."
1611074978728Resume_Shikha(1).pdf,B. TECH,UG,11.4,2.9,"sme, president, developer, business analyst, a...","sap automation, automation, purchase orders, t...","report, tfs /git, microsoft sql server, c, dot...","development, report, tfs /git, microsoft sql s...","validation, kibana, base, testing, dps, framew...",NaN,master level certification in automation anywh...
Aaron Thankachan CV.docx,Other Degree,Others,5.2,5.2,"senior analyst, analyst, customer care agent, ...","mortgage, invoices, insurance, customer care, ...","office, ms office, windows, linux","mortgage, os, invoices, office, insurance, rep...","laptops, english, hindi, customer service, mai...","english, hindi, kannada, tamil, malayalam",NaN
Aashna Shaikh.pdf,Other Degree,Others,5.0,1.2,"team leader, team manager, associate/senior as...","export and import billing, free of charge, inv...","report, microsoft office, office, citrix, wind...","report, investigation, management, time manage...","english, sorting, investigation, hindi, import...","marathi, hindi, english",NaN
ABHI CV FORMAT September-converted.pdf,BE,UG,8.6,2.9,NaN,NaN,NaN,NaN,"english, hindi, email, resume, d, languages, m...","marathi, hindi, english",NaN

DATA is Now looks cleaned
####  Writing to CSV and Again uploading to dataframe with delimiter=";"

In [35]:
df.to_csv('filtered_df.csv')
df = pd.read_csv(r'C:\Users\barsuraj1\Desktop\Resume Ranking prediction\Sample_Resume\filtered_df.csv', delimiter=";")
df.head()

  Filename,Degree,Graduation,Total Derived Experience,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,LANGUAGE,CERTIFICATION
0  1577101964859-1575456968998-Athira Unnikrishna...
1  1611074978728Resume_Shikha(1).pdf,B. TECH,UG,1...
2  Aaron Thankachan CV.docx,Other Degree,Others,5...
3  Aashna Shaikh.pdf,Other Degree,Others,5.0,1.2,...
4  ABHI CV FORMAT September-converted.pdf,BE,UG,8...

In [36]:
# Rename specific column names of a Pandas dataframe:
df = df.rename(columns={'Filename,Degree,Graduation,Total Derived Experience,Average Tenure,Roles,DomainSkills,ToolSkills,TechSkills,Skills,LANGUAGE,CERTIFICATION':'Candidate Details'})
df.head()

                                   Candidate Details
0  1577101964859-1575456968998-Athira Unnikrishna...
1  1611074978728Resume_Shikha(1).pdf,B. TECH,UG,1...
2  Aaron Thankachan CV.docx,Other Degree,Others,5...
3  Aashna Shaikh.pdf,Other Degree,Others,5.0,1.2,...
4  ABHI CV FORMAT September-converted.pdf,BE,UG,8...

In [37]:
### Pickle the file
df.to_pickle("Final_csv")

##### Converting the Data Frame to List

In [38]:
df_list = df.values.tolist()
print(df_list[12]) #### Printing any list value within the range
print("length of list : " , len(df_list))

['Athiban Mahamathi Resume.pdf,B.E,UG,5.7,5.7,"uipath developer, process controller, developer, engineer, rpa developer","leadership skills, solution design documents, automation, agile, insurance, operations, sdlc models agile, billing, robotic process automation, db2, documentation, sdlc, business process, collections, backend operations","c, automation anywhere, soap, microsoft azure, sql, robot, excel, rest, python, waterfall, uipath, blue prism, windows, web application, api, database, azure, web services, oracle, html, c#","development, management, sdlc models agile, robotic process automation, c, automation anywhere, sdlc, soap, microsoft azure, sql, agile, robot, servers, excel, db2, operation, collections, backend operations, rest, python, oracle, leadership skills, solution design documents, waterfall, uipath, insurance, blue prism, windows, analysis, web application, business process, api, automation, reports, database, support, operations, billing, azure, documentation, web services, training, html, c#","ews, infrastructure, connections, live, design documents, instruction, base, flow, operational support, mainframe, leadership skills, infosys, business process, flow charts, it, leadership, web services, training, html, proof of concept, queues, project, developers, microsoft azure, servers, electronics, excel, scrap, handover, bot, customer, azure, documentation, dashboard, c#, process automation, design, collaborative environment, health, sql, teams, agents, health check, sim, proof, insurance, database servers, optical character recognition (ocr), outlook, automation, pdf, database, operations, credentials, workflow, languages, application, watson, application servers, c, models, soap, agile, studio, robot, access, diagrams, rest, python, commission, microsoft, windows, web, api, technology, design review, ops, ibm, oracle",,"uipath developer certified, blue prism developer certified, automation anywhere developer certified"']
length of list :  95

### Using Spacy Sentence encoder ('en_use_md')

In [39]:
model = spacy_universal_sentence_encoder.load_model('en_use_md')

##creating a Loop to read each element of the data and perform Sentence similarity between each row and JD

In [47]:
JD1 = ['Business Analyst', 'B.Tech / M.Tech','Minimum Experience: 4 years', 'Minimum Average Tenure: 1 years','Roles : Business Analyst/ Senior Business Analyst /Analyst/ Senior Analyst','Technical Skills : Proficient in MS Office, Microsoft Power BI,  Tableau, Zoho Analytics, SQL, T-SQL, SAS BUSINESS INTELLIGENCE, ELT Tools', 'experience in understanding of client business model, expertise in understanding client requirement and documenting, expertise in understanding client requirement and documenting, expertise in understanding client requirement and documenting, timely scheduled management reporting, Data Warehousing','CERTIFICATION: Certificate in Business Analysis/ Certified Analytics Professional/ Certification of Competency in Business Analysis/ Certified Business Analysis Professional']

In [49]:
org_list= []
cv_name = []
#unsorted=[]
cosine_score = []

for elem in df_list:
    #print(elem)
    candidate_entities = elem
    #print(candidate_entities)
    #print(type(candidate_entities))
    
    Job_Desc_vector = model(JD)
    #Job_Desc_vector = model(JD1)
    #print(type(Job_Desc_vector))
    
    for sent in candidate_entities:
        #print(sent)
        #print(type(sent))
        #print(isinstance(sent, str))
        sentences_embedding = model(sent)
        #print(sentences_embedding)
        similar = sentences_embedding.similarity(Job_Desc_vector)
        
        #print(similar)
        similar = round(similar*100, 2)
        org_list.append(similar)
        #print(org_list)
        filename = sent.split(',')[0]
        #print(filename)
        cv_name.append(filename)
        #print(cv_name)
        #print("Resume = ", filename,"\tSimilarity", sim)

In [50]:
print(len(cv_name))
print(len(org_list))
mapped = zip(cv_name, org_list)
mapped = list(mapped)
resume_sort = sorted(mapped, key = lambda x: x[1], reverse=True)
len(resume_sort)

95
95

95

In [51]:
top_20 = resume_sort[:20]
for i in top_20:
  print(i)

('Aditya Singh.pdf', 61.48)
('Resume - Regan.docx', 52.83)
('Satej CV updated.pdf', 52.38)
('Resume jithu.docx', 51.61)
('1577101964859-1575456968998-Athira Unnikrishnan CV (2) (2)-2.pdf', 50.24)
('Aashna Shaikh.pdf', 50.17)
('Lakshmireddy_Resume Datawarehouse Consultant.pdf', 50.09)
('Lakshmireddy_Resume _Datawarehouse Consultant.pdf', 50.09)
('Imrans Resume New - Imu Imran.pdf', 49.88)
('CV-Shivani Dixit.pdf', 48.94)
('Resume - Raj Singh.docx', 48.64)
('Sweety Kapoor--LongView Tax Consultant.pdf', 48.52)
('Reshma.CV.pdf', 48.47)
('CV-Prajakta S Limaye (Sutherland).pdf', 48.21)
('CV - Shahul Hameed updated.pdf', 48.11)
('Pratap Singh suth.doc', 47.38)
('Farooq Mehboob Shaikh suth symantac.docx', 46.88)
('Neha_Chandel.pdf', 46.29)
('Luckypathak2_0.docx', 46.21)
('Resume_Rohit  -2-rpanew.docx', 46.09)